services:
  discordbot:
    image: stonetone31/discordbotv3:latest
    container_name: discordbot
    restart: unless-stopped
    environment:
      - DISCORD_TOKEN=${DISCORD_TOKEN}
      - GUILD_ID=${GUILD_ID}
      - GPT_SECRET=${GPT_SECRET}
      - GPT_PROMPT=${GPT_PROMPT}
      - GPT_MODEL=${GPT_MODEL}
      - TWITCH_CLIENT_ID=${TWITCH_CLIENT_ID}
      - TWITCH_CLIENT_SECRET=${TWITCH_CLIENT_SECRET}
    depends_on:
      - yt-cipher
    networks:
      - bot-network

  yt-cipher:
    image: ghcr.io/kikkia/yt-cipher:master
    container_name: yt-cipher
    restart: unless-stopped
    networks:
      - bot-network

networks:
  bot-network:
    driver: bridge
