<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true"> <!-- Reloads every minute -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{dd MMM yyyy hh:mm:ss.SSS a} %boldCyan(%-26.-26thread) %boldYellow(%-20.-20logger{0}) %highlight(%-6level) %msg%n%throwable</pattern>
        </encoder>
    </appender>

    <!-- JDA -->
    <logger name="net.dv8tion.jda" level="info"/>
    <!-- lavaplayer -->
    <logger name="com.sedmelluq.discord.lavaplayer" level="info"/>
    <logger name="com.sedmelluq.discord.lavaplayer.tools.ExceptionTools" level="info"/>
    <!-- youtube-plugin -->
    <logger name="com.github.youtube.plugin" level="info"/>
    <logger name="com.github.youtube.common" level="info"/>
    <logger name="com.github.youtube.v2" level="info"/>
    <!-- lavalink -->
    <logger name="lavalink.server.io.SocketContext" level="info"/>

    <!-- All the remaining loggers -->
    <root level="info">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>