name: Docker Build and Push

on:
  push:
    branches:
      - master  # Set this to the branch you use

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Check Out Code
      uses: actions/checkout@v2

    - name: Set up JDK 17
      uses: actions/setup-java@v2
      with:
        java-version: '17'
        distribution: 'adopt'

    - name: Build with Maven
      run: mvn clean package

    - name: Log in to DockerHub
      run: echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin

    - name: Build and Push Docker Image
      run: |
        docker build -t ${{ secrets.DOCKER_USERNAME }}/discordbotv3:${{ github.sha }} .
        docker push ${{ secrets.DOCKER_USERNAME }}/discordbotv3:${{ github.sha }}

    # - name: Deploy to Remote Server
    #   run: |
    #     ssh -i path/to/ssh_key user@server_ip "docker pull ${{ secrets.DOCKER_USERNAME }}/your-docker-repo:${{ github.sha }} && docker stop my-app || true && docker run -d --name my-app -e API_TOKEN=${{ secrets.API_TOKEN }} -p 8080:8080 ${{ secrets.DOCKER_USERNAME }}/your-docker-repo:${{ github.sha }}"
    #   env:
    #     SSH_KEY: ${{ secrets.SSH_KEY }}
